/**
 * Password Page
 */

$color-employees: #4743ed;
.password-your {
  padding-top: 20px;
  padding-left: 45px;
  font-size: 1.4rem;
  font-family: 'Poppins Bold';

  @include responsive(lapTablet) {
    padding-left: 0;
  }
}

.password-contents {
  padding-top: 5px;
  padding-bottom: 100px;
  font-size: 0.9rem;

  .password-card {
    font-weight: 100;
    color: #000000;
    background-color: #ffffff;
  }

  .card-padding {
    padding-bottom: 10px;
  }

  .password-padding {
    padding: 20px 50px 15px 35px;

    @include responsive(lapTablet) {
      padding: 20px 10px 15px 10px;
    }
  }

  .password-width {
    padding-top: 20px;
    width: 50%;

    input {
      padding-left: 15px;
      font-size: 0.9rem;
      border-bottom: 2px solid gray;
      color: grey;
    }

    @include responsive(lapTablet) {
      width: 100%;
    }
  }

  .card-top-padding {
    padding-top: 20px;
  }

  .forgot-password-padding {
    padding-bottom: 25px;
    padding-left: 50px;
    font-size: 0.9rem;
    color: $color-employees;
    cursor: pointer;

    @include responsive(lapTablet) {
      padding-left: 0;
    }
  }

  /**
   * Button
   */
  .btn-padding {
    margin: 0 auto;
    padding-top: 30px;

    .btn-save {
      margin-right: 5px;
      margin-left: 5px;
      margin-bottom: 15px;

      padding: 20px 12px;
      border: 2px solid #4743ed;
      width: 22%;
      text-align: center;
      text-decoration: none;
      font-size: 1.2rem;
      font-family: 'Poppins Bold';
      font-weight: bold;
      color: #ffffff;
      background-color: #4743ed;
      display: inline-block;
      cursor: pointer;

      @include responsive(lapDeskTop) {
        width: 40%;
      }

      @include responsive(lapTablet) {
        width: 45%;
        float: none;
      }

      @include responsive(phone) {
        padding: 10px 12px;
        width: 100%;
      }
    }

    .btn-save:hover {
      color: #4743ed;
      background-color: #e7e7f3;
    }
  }
}
