/**
 * Responsive Value Definition Page of the Company
 */

$breakpointsCompany: (
    desktop: 1380px,
    largeLapTop: 1200px,
    lapDeskTop: 992px,
    lapTablet: 768px,
    phoneTablet: 600px,
    phone: 480px
) !default;